@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Nunito:400,600,700');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}


/*** COLORS ***/
.bg-soft-red {
    background-color: #E65F78;
}

.bg-bakelit-red {
    background-color: #F80000;
}

.bakelit-red {
    color: #F80000;
}

.text-white {
    color: white;
}

.border-white {
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
}

/** GENERAL **/

img {
    max-width: 100%;
}

body {
    font-family: "Nunito", sans-serif;
}


/*** NAV ***/

a {
    color: white;
    text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,235,215)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

/** card reassurance**/
.card {
    border-radius: 10px 10px 10px 10px;
}

/** gallery **/

.gallery__wrapper {
    display: block;
    height: 80%;
}

.content__gallery {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.content__gallery .slider__wrapper {
    overflow: hidden;
}

.content__gallery .slider__wrapper .slider {
    height: 100%;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    transition: all 0s 9999999s
}

.content__gallery .slider__wrapper .slider>* {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%
}

.content__gallery .thumb__float {
    display: inline-block;
    margin: 12px;
    border: 1px solid #E65F78;
}

.content__gallery .thumb__float .thumb__wrapper {
    width: 80px;
    height: auto;
    padding: 3px;
}

.content__gallery .thumb__float .thumb__wrapper img {
    cursor: zoom-in
}

.content__gallery .slider__wrapper {
    order: 1
}

.content__gallery .thumb__float {
    order: 2
}

#layout {
    overflow-x: hidden;
}

#layout .slider__wrapper {
    width: 100%;
    height: 250px;
    order: 1
}

.thumb1:active~.slider__wrapper>.slider {
    -webkit-transition: all 0s;
    -ms-transition: all 0s;
    transition: all 0s;
    transform: translateX(-0%);
    -webkit-transform: translateX(-0%);
    -ms-transform: translateX(-0%);
}

.thumb2:active~.slider__wrapper>.slider {
    -webkit-transition: all 0s;
    -ms-transition: all 0s;
    transition: all 0s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
}

.thumb3:active~.slider__wrapper>.slider {
    -webkit-transition: all 0s;
    -ms-transition: all 0s;
    transition: all 0s;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
}

.slide-1 {
    background-image: src("${PRODUCT.CustomFields.Image1}");
}

.slide-2 {
    background-image: src("${PRODUCT.CustomFields.Image2}");
}

.slide-3 {
    background-image: src("${PRODUCT.CustomFields.Image3}");
}